% rebase('osnova.html')
<!DOCTYPE html>
<html>
    <body style="background-color:darksalmon;">
<h1 style="color:dimgrey; font-family:verdana; text-align:center; font-size:300%;">MATEMATIČNI KNJIGOLJUB</h1>
<div style=" text-align:center;">
    % if ime:
        Prijavljen uporabnik: {{ime}}
        (<a href="/odjava/">odjava</a>)
    % else:
    <a href="/prijava/">prijava</a> | 
    <a href="/vpis/">vpis</a>
    % end
</div>
<form action="/isci/">
    <div class="field">
        <label class="label">Iskalni niz</label>
        <div class="control">
            <input class="input" type="text" placeholder="npr. Python or Life in Code" name="iskalni_niz">
        </div>
    </div>

    <div class="field">
        <div class="control">
            <button class="button">Išči!</button>
        </div>

</form>
<pre style="background-color:darksalmon; font-size:150%">

Knjige po črkah: 
</pre>
<ul>
    % for crka in znaki:
    <li style="background-color:darksalmon; font-size:150%">
        Knjige, ki se začnejo s črko
        <a href="/crke/{{crka}}/">{{crka}}</a>
    </li>
    % end
</ul>
</body>
</html>





